<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}


  </head>

  <body>

    <header>
      <div class="container">
        <div id="two-columns">          
            <a id="a-title" href="{{ '/' | relative_url }}">          
              <h1>{{ site.title | default: site.github.repository_name }}</h1>          
            </a>
            <h2>{{ site.description | default: site.github.project_tagline }}</h2>
            
            <div class="center">
              <a href="/hacking4hackers/" class="btn">Home</a>
              <a href="about" class="btn">Artículos</a>
              <a href="about" class="btn">Categorías</a>
              <a href="about" class="btn">Etiquetas</a>
              <a href="about/" class="btn">Contacto</a>
            </div>
        </div>
        
            
        <!-- <section id="downloads">          
          <a href="{{ site.github.repository_url }}" class="btn btn-github"><span class="icon"></span>View on GitHub</a>
        </section> -->     
        
      </div>
    </header>

    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>

    <hr>
    <div class="container">
      {%- include footer.html -%}
    </div>
    

  </body>
</html>
